@charset "UTF-8";

/* organização do header */

#ul-nav a{
    font-size: 1.3em;
}

#nav-drop{
    background-color: #006fa5;
}

#nav-drop a{
    font-size: 1.2em;
    color: #fff;
}

#nav-drop a:hover{
    background-color: #168aad;
}

/* organização do footer */

.footer{
    background-color: #2d2d2d;
}

.foot-redes{
    color: white;
    height: 85px;
    width: 85px;
    padding: 25px;
    float: left;
}

#nome-brand{
    color: white;
    clear: both;
}

.copy{
    background-color: #2d2d2d;
    color: white;
    font-weight: bold;
    text-align: center;
}

.lista01 li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.lista02 li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.lista01{
    float: left;
    margin-left: 50px;
}

.lista02{
    float: right;
}

.predes{
    color: white;
}

/* organização tela de dados */


.imglink-dados{
    padding: 5%;
}




/* organização da home */
main{
    padding-top: 56px;

}

.secredes{
    text-align: center;
    padding: 10px;

}

.redes{
    height: 85px;
    width: 85px;
    padding: 28px;
    
}

.h1index{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.h3redes{
    text-align: center;
    padding-top: 40px;
}

/* organização da tela de sintomas */

.h1cor{
    padding: 25px;
    padding-bottom: 35px;
    text-align: center;
}
