<<<<<<< HEAD
@charset "UTF-8";

/* HEADER GERAL */




/* CSS HOME */
main{
    padding-top: 73px;
}
=======
/* organização menu superior */

.menu{
    background-image: url(../exemplo3.png);
    display: flex;
    margin-left: 100px;
}
>>>>>>> 35b3becc27e55a98faa717c596724e436b9fd29a
