@charset "UTF-8";

body {
  overflow-x: hidden;
}

/* organização da home */

main {
  padding-top: 56px;
}

.secredes {

  text-align: center;
  padding: 10px;
  padding-bottom: 20px;

}

.redes {
  font-size: 2em;
  padding: 25px;
  text-align: center;
  padding: 10px;
  
}

.redes {
  height: 85px;
  width: 85px;
  padding: 25px;

}

.h1index {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
}

.h3last {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.h3redes {
  text-align: center;
  padding-top: 55px;
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.secnews {
  padding: 20px;
  padding-bottom: 30px;
}

.h1news {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.pindex {
  font-size: 1.2em;
  font-family: "Roboto Slab", serif;
  color: #000;
}

.btnindex {
  background-color: #168aad;
  color: #fff;
  font-size: 1.2em;
  border-radius: 10px;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
}

.btnindex:hover {
  background-color: #a3a3a3;;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

.secmais {
  background-color: #168aad;
  color: #fff;
  border-radius: 10px;
  height: 65%;
}



.h3mais {
  padding-left: 15px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
}

.h3risco {
  text-align: center;
  font-size: 2.2em;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.prisco {
  padding: 10px;
  font-size: 1.5em;
  text-align: left;
  font-family: "Roboto Slab", serif;
  color: #000;
}

.arefhome{
  text-decoration: none;
  color: #fff;
font-size: 00.8rem;
margin-left: 10%;
}

.arefhome:hover{
  color: #a3a3a3;
}

.pmais {
  font-family: "Roboto Slab", serif;
margin-top: 5%;
margin-left: 15%;

}

/* mobile home */
@media (max-width: 576px) {
  .secnews {
    padding-bottom: 5%;
    margin-left: 5%;
  }

  .h3redes {
    padding-top: 25px;
  }

  .pmais {
    font-family: "Roboto Slab", serif;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 0%;
  
  }
  
  
  }



/* organização do header */

header {
  height: 100%;
  width: 100%;
}

#navbar {
  background-color: #ffd300;
  /* background-image: url('../images/index.png'); */
}

.btn-nav {
  font-size: 1.7em;
}

@media(min-width: 992px) {
  #ul-nav {
    padding-left: 42%;
  }



}

#img-header {
  overflow-x: hidden;
}

@media (min-width: 992px) {
  #ul-nav {
    padding-left: 42%;
  }

#ul-nav a {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}

#nav-drop {
  background-color: #006fa5;
}

#nav-drop a {
  font-size: 1.2em;
  color: #fff;
}

#nav-drop a:hover {
  background-color: #168aad;
}

/* organização do footer */

footer {
  background-color: #2d2d2d;
  background-size: cover;
}

.foot-redes {

  color: #fff;
  font-size: 1.5em;
  padding: 25px;


  color: #fff;
  font-size: 1.5em;
  padding: 25px;



}

#nome-brand {
  color: white;
}

.copy {
  background-color: #2d2d2d;
  color: white;
  font-weight: bold;
  text-align: center;
}

.lista01 li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.lista02 li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.predes {
  color: white;
  font-weight: bold;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.redesfooter {

  padding-right: 10px;
  padding-bottom: 15px;


  padding-right: 10px;
  padding-bottom: 15px;


}
}

/* mobile-footer*/

@media (max-width: 576px) {
  .redesfooter {
    text-align: center;

  }

  .lista01 {
    text-align: center;
  }

  .lista02 {
    text-align: center;
  }

  .nomebrand {
    color: #fff;
    padding-left: 35%;
    text-align: center;
  }

  .lista01 a {
    font-size: 1.2em;
  }

  .lista02 a {
    font-size: 1.2em;
  }
}

/* organização tela de dados */

.body-dados {
  overflow-x: hidden;
  font-size: 0.8rem;
  
}

.anavdados {
  text-decoration: none;
}

.imglink-dados {
  margin-top: 5%;
  margin-left: 5%;
}

.espacamento {
  margin-top: 5%;
}

.paside {
  margin-top: 5%;
  margin-left: 17%;
}

/* mobile-dados*/
@media (max-width: 576px) {
  .aref {
    text-decoration: none;
    color: #006fa5;
  }

  .aref:hover {
    color: #a3a3a3;
  }

  .anavdados {
    color: #006fa5;
  }

  .anavdados:hover {
    color: #a3a3a3;
  }

  .asidedados {
    display: none;
  }

  .pimg {
    font-size: 0.6rem;
    text-decoration: none;
  }

  .nav-tablet {
    display: none;
  }

  .sct-sm {
    display: block;
  }

  .imglink-sm {
    width: 70%;
    margin-left: 15%;
  }

  .pimglink {
    float: right;
    padding: 10px;
  }

  .imglink-dados {
    width: 70%;
    margin-left: 15%;
  }
}

@media (min-width: 576px) {
  .sct-sm {
    display: none;
  }

  .asidedados {
    display: none;
  }

  .nav-tablet {
    display: block;
    font-size: 0.8rem;
  }

  .aref {
    color: #006fa5;
  }

  .anavdados {
    color: #006fa5;
  }

  .aref,
  .anavdados:hover {
    color: #a3a3a3;
  }

  .body-dados {
    font-size: 1rem;
  }

  .pimg {
    font-size: 0.8rem;
  }

  .sct-sm {
    display: block;
  }

  .pimglink {
    float: right;
    padding: 10px;
    margin-top: 5%;
  }

  .imglink-sm {
    margin-top: 3%;
  }
}
   

    @media (max-width: 576px) {
      .redesfooter {
        text-align: center;
      }

      .lista01 {
        text-align: center;
      }

      .lista02 {
        text-align: center;
      }

      .nomebrand {
        color: #fff;
        padding-left: 35%;
        text-align: center;
      }

      .lista01 a {
        font-size: 1.2em;
      }

      .lista02 a {
        font-size: 1.2em;
      }
    }

    

   /* organização tela de dados */

.body-dados {
  overflow-x: hidden;
 
}

.anavdados {
  text-decoration: none;
}

.imglink-dados {
  margin-top: 5%;
  margin-left: 5%;
}

.espacamento {
  margin-top: 5%;
}

.paside {
  margin-top: 5%;
  margin-left: 17%;
}

/* mobile-dados*/
@media (max-width: 576px) {
  .aref {
    text-decoration: none;
    color: #006fa5;
  }

  .aref:hover {
    color: #a3a3a3;
  }

  .anavdados {
    color: #006fa5;
  }

  .anavdados:hover {
    color: #a3a3a3;
  }

  .asidedados {
    display: none;
  }

  .pimg {
    font-size: 0.6rem;
    text-decoration: none;
  }

  .nav-tablet {
    display: none;
  }

  .sct-sm {
    display: block;
  }

  .imglink-sm {
    width: 70%;
    margin-left: 15%;
  }

  .pimglink {
    float: right;
    padding: 10px;
  }

  .imglink-dados {
    width: 70%;
    margin-left: 15%;
  }
}

@media (min-width: 576px) {
  .sct-sm {
    display: none;
  }

  .asidedados {
    display: none;
  }

  .nav-tablet {
    display: block;
    font-size: 0.8rem;
  }

  .aref {
    color: #006fa5;
  }

  .anavdados {
    color: #006fa5;
  }

  .aref,
  .anavdados:hover {
    color: #a3a3a3;
  }

  .body-dados {
    font-size: 1rem;
  }

  .pimg {
    font-size: 0.8rem;
  }

  .sct-sm {
    display: block;
  }

  .pimglink {
    float: right;
    padding: 10px;
    margin-top: 5%;
  }

  .imglink-sm {
    margin-top: 3%;
  }
}

/* tablet-dados*/
@media (min-width: 768px) {
  .asidedados {
    display: none;
  }

  .nav-tablet {
    display: block;
    margin-left: 3%;
  }

  .aref {
    text-decoration: none;
    color: #006fa5;
  }

  .imglink-dados {
    margin-top: 5%;
    margin-left: 10%;
  }

  .sct-sm {
    display: block;
  }
}

@media (min-width: 992px) {
  

  .pimg {
    font-size: 1rem;
  }

  .asidedados {
    display: block;
    background-color: #006fa5;
    height: 100%;
  }

  .nav-tablet {
    display: none;
  }

  .imglink-dados {
    margin-top: 5%;
    margin-left: 5%;
  }

  .sct-sm {
    display: none;
  }

  .imgaside {
    margin-top: 5%;
  }

  .nav {
    font-size: 1rem;
    margin-left: 20%;
  }

  .anavdados,
  .paside {
    color: #fff;
  }

  .anavdados:hover {
    color: #a3a3a3;
  }

  .aref {
    text-decoration: none;
    color: #006fa5;
  }

  .aref:hover {
    color: #a3a3a3;
  }

  .aimglink {
    margin-left: 10%;
    font-size: 0.9rem;
  }
}


/* organização politica de privacidade */

.body-poli {
  background-color: #006fa5;
  overflow-x: hidden;
}

@media (max-width: 576px) {
  .atcpoli {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .atcpoli {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .atcpoli {
    background-color: #fff;
    height: 100%;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .atcpoli {
    background-color: #fff;
    height: 100%;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
  }
}

@media (min-width: 1200px) {
  .atcpoli {
    background-color: #fff;
    height: 100%;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0 0 1em #464646;
    margin-bottom: 5%;
  }
}

/* organização tela quem somos */

/* qs = quem somos */

.qs {
  clear: both;
}

/* lt = link tela */
.lt {
  text-decoration: none;
  color: #006fa5;
}

.lt:hover {
  color: #a3a3a3;
}

.h1qs {
  margin-bottom: 20px;
}

/* atc-qs = article-quem somos */
@media (max-width: 576px) {
  .atc-qs {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .atc-qs {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 0.8rem;
  }

  .img-qs {
    margin-left: 15%;
  }
}

@media (min-width: 768px) {
  .atc-qs {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 0.8rem;
  }
  .img-qs {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .atc-qs {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 1em #464646;
    font-size: 1rem;
  }
  .img-qs {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .atc-qs {
    background-color: #fff;
    height: 100%;
    margin-top: 5%;
    box-shadow: 0 0 1em #464646;
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
  .img-qs {
    margin-left: 0%;
  }
}

/* organização da tela de sintomas */

.h1cor {
  padding: 25px;
  padding-bottom: 35px;
  text-align: center;
}

/* tela vacinas */

.vac {
  text-align: center;
}
  
/* organização tela covid */

.bodycovid{
    margin-left: 5px;
    margin-right: 5px; 
}
.nav2-covid{    
    margin-left: 28px;
    color:#006fa5;
    font-size: 1.2rem;
}
.nav2-covid:hover {
  color: #0c326f;
}

.titulocovid{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #000;
  margin: 50px auto 70px auto;
}

.subtitulocovid{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #000;
  margin: 80px auto 50px auto;
}
.subtitulocovid2{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #fff;
  margin: 80px auto 50px auto;
}
.subtitulocovid3{
  color: #fff;
  text-align: center;
  margin: 30px auto 30px auto;
}

.texto-covd{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
.texto-covd9{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}
.texto-covd8{
  padding-right: 40px;
  margin-bottom: 50px;
}
.texto-covd1{
  padding-right: 40px;
  margin-bottom: 20px;
}

.texto-covd6{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}



.imagem-transmicao2{
  justify-content: center;

  margin-right: 0px;

}
.imagem-transmicao{
  margin-left: 0px;

}


.transm{
  padding-left: 40px;
  padding-right: 40px;
  background:#168aad;
  color:#fff;

}
.vari{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #168aad;
}


.card{
  background-color: #168aad;
  color: #fff;
  border-radius: 30px 30px 30px 30px; 
}

.card-img-top{
  border-radius: 30px 30px 30px 30px;
}
.card2{
  background-color:#ff780a;
  color: #fff;
  border-radius: 30px 30px 30px 30px;
}
.card3{
  background-color:#006600;
  color: #fff;
  border-radius: 30px 30px 30px 30px;
}
.card4{
  background-color:#0c326f;
  color: #fff;
  border-radius: 30px 30px 30px 30px;
}

.card-vari{
  background-color: #168aad;
}

.nova-vari{
  background-color: #168aad;
  color: #fff;
}
.card-header{
  background-color: #c4170c;  
  margin-left: 10px;
  margin-right: 10px;  
}
.card5{
  color: #fff;
padding: 100px 100px auto auto;
}
.accordion{
  padding-left: 100px;
  padding-right: 100px;
}
.accordion-item{
  background-color: #fff;  
}
.accordion-button{
  background-color:#0c326f;
  color:#fff;
}

.collapseOne{
  color:#fff;
}

@media (max-width: 576px) {
  .imagem-transmicao2{
    justify-content: center;
    margin-left: 0px;  
  }

  .accordion{
    padding-left: 10px;
    padding-right:10px;
  }
  .card{
    background-color: #168aad;
    color: #fff;
    border-radius: 30px 30px 30px 30px; 
    margin-left: 100px;
    margin-bottom: 15px;
  }

  .card2{
    background-color:#ff780a;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .card3{
    background-color:#006600;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .card4{
    background-color:#0c326f;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: 100px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .imagem-transmicao2{
    margin-left: -50px;
  
  }
  .imagem-transmicao{
    margin-left: 120px;  
  }
  .card{
    background-color: #168aad;
    color: #fff;
    border-radius: 30px 30px 30px 30px; 
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .card2{
    background-color:#ff780a;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .card3{
    background-color:#006600;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .card4{
    background-color:#0c326f;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .card-header{
    background-color: #c4170c;  
    margin-left: 0px;
    margin-right: 0px;  
  }
  .card5{
  color: #fff;
  padding: auto auto auto auto;
  }
  

}
@media (min-width: 992px) {
  .imagem-transmicao2{
    margin-left: 200px;
  
  }
  .imagem-transmicao{
    margin-left: 0px;  
  }
}  


.h1 h2 h3 {
  font-family: "Open Sans", sans-serif; 
  font-size: 1.8em;
}

.h4 h5 h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.0em;
} 

.p{  
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
}







